<div class="m-2 bg-secondary-subtle">
  <div class="card col-mb-4 m-2 p-5">
    <img src="../../../assets/780cd3675ae64712be7d4a05eda6034b.png" class="card-img-top" style="width: 90%" height="350"  alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>