.custom-range::-webkit-slider-thumb {
  background-color: #959291; /* Couleur du curseur pour les navigateurs basés sur WebKit (Chrome, Safari, etc.) */
}

#element-card {
  cursor: pointer; /* Le curseur indiquera que l'élément est cliquable */
}

#element-card:hover {
  /* Style que vous souhaitez appliquer lorsque l'élément est survolé (optionnel) */
  background-color: #f0f0f0;
  color: #333;
}

.notification-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Assurez-vous que la barre est au-dessus du reste du contenu */
}
.relative-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%; /* Ajustez en fonction de la hauteur de votre input */
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}